.Widgets {
  display: flex;
  flex-wrap: wrap;
}

.Widgets-column {
  flex: calc(100% / 3 - 31.33px);

  width: 290px;
}

.Widgets-column:not(:first-child) {
  padding-left: 15px;
}

.Widget-container {
  margin-top: 15px;
}
