.App-wrapper {
  display: flex;
  max-width: 901px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.App-header .App-wrapper {
  justify-content: space-between;
}

.App-body {
  margin-top: 30px;
}

.App-body .App-wrapper {
  flex-direction: column;
}

.Banner {
  margin-top: 15px;
}

.Banner-image {
  height: 100px;

  object-fit: cover;
}

.App-footer {
  margin-top: 20px;
  margin-bottom: 30px;
}
